{% extends 'account/base.html' %}
{% load tailwind_tags %}
{% tailwind_css %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %} Sign in{% endblock head_title %}

{% block extra_head%}
    {{block.super}}
    <script src="https://kit.fontawesome.com/17ced14600.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
{% endblock extra_head%}


{% block content %}
    <div class="left-box" style="margin-left: -5%;">
        <h5>Login</h5>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction" type="submit">{% trans "Login" %}</button>
        </form>


        <p>Don't have an account? <a href={% url 'account_signup' %}>Create Your Account</a> Click Signup for create account</p>
        {% comment %} <div class="inputs">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">

			<label>
				<input type="checkbox" name="remember-me" id="remember-me">
				<span>Remember me</span>
			</label>

			<a href="{% url 'account_reset_password' %}" class="forget-password">Forget Password?</a>

		</div>
			<br>
				<button type="button" onclick={% url 'account_signup' %}>Signup</button>
				<button type="button" onclick={% url 'account_login' %}>Login</button>
		</div>
	</div>
	{% endcomment %}
{% endblock content%}
