{% extends 'account/base.html' %}
{% load tailwind_tags %}
{% tailwind_css %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %} Sign in {% endblock head_title %}

{% block extra_head%}
    {{block.super}}
{% endblock extra_head%}


{% block content %}
    <div class="">
        <h5>Login</h5>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction" type="submit" id="id_submit">{% trans "Login" %}</button>
        </form>

        <p>Don't have an account? <a href={% url 'account_signup' %}>Create Your Account</a> Click Signup for create account</p>
    </div>
{% endblock content%}
