[run]
branch = True
omit =
    mysite/*
    manage.py
    WePay/migrations/*
    WePay/tests/*
    WePay/*_urls.py
    WePay/config.py
    WePay/apps.py
    */__init__.py
    WePay/admin.py
    templates/*
    theme/*
