body {
    background-image: linear-gradient(0deg, rgba(23,31,153,1) 0%, rgba(210,231,254,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'HKGroteskRegular';
    font-weight: normal;
    font-style: normal;
    color: #333333;
  }

.styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
background-color: #171f99;
color: #ffffff;
text-align: left;
}

.styled-table th, .style-table td {
padding: 12px 15px;
}

.styled-table tbody tr {
border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #D2E7FE;
}

.styled-table tbody tr.paid {
font-weight: bold;
color: #1ba569;
}

.styled-table tbody tr.not-paid {
    font-weight: bold;
    color: #eb0c0c;
    }
