/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}




body {
  background: rgb(210,231,254);
  background: linear-gradient(0deg, rgba(210,231,254,1) 0%, rgba(210,231,254,1) 56%, rgba(23,31,153,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

/* .firstsection {
  background-color: #f7f7f8;
  margin: 0%;
} */

.right-top {
  text-align: right;
  margin: auto;
  font-size: 1vmax;
  color: #bae2fb;
}


.box-form {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: 100%;
}
.box-form .left {
  color: #FFFFFF;
  background: #171f99;
  background-repeat: no-repeat;
  align-items: center;
  overflow: scroll;
}
.box-form .left .overlay {
  padding: 10%;
  width: 80%;
  height: 100%;
  background: #171f99;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 3vmax;
  line-height: 1;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 50px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:nth-child(2){
  color: white;
  background: #333333;
  margin-left: 10%;
}

.box-form .left .overlay span a:nth-child(3){
  color: #333333;
  background: #fdffff;
  margin-left: 10%;
}

.box-form .left .overlay span a:nth-child(4){
  color: white;
  background: #06C755;
  margin-left: 10%;
}

.box-form .left .overlay span a:nth-child(5){
  color: white;
  background: #54a4ff;
  margin-left: 10%;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 50%;
  }
}
.box-form .right h5 {
  font-size: 3vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: rgb(6, 37, 149);
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #fafcfa;
  background-image: linear-gradient(135deg, #fafdfa 10%, #bae2fb 100%);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #1b1e1b;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #2c312c;
}

label:hover::before .text-checkbox {
  background: #081208;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}
