{% extends 'Wepay/base.html' %}
{% load cloudinary_static %}
{% block header %}
{{block.super}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/hk-grotesk" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
{% endblock header %}


{% block body %}
    {{block.super}}
    {% if user.is_authenticated %}

    <section class="pt-16 bg-blueGray-50">
        <div class="container ml-36">
          <div class="flex flex-wrap items-center grid h-screen place-items-center">
            {% comment %} <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-78">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-500">
                <img alt="..." src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80" class="w-full align-middle rounded-t-lg">
                <blockquote class="relative p-8 mb-4">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block h-95-px -top-94-px">
                    <polygon points="-30,95 583,95 583,65" class="text-pink-500 fill-current"></polygon>
                  </svg>
                  <h4 class="text-xl font-bold text-white">
                    Great for your awesome project
                  </h4>
                  <p class="text-md font-light mt-2 text-white">
                    Putting together a page has never been easier than matching
                    together pre-made components. From landing pages presentation
                    to login areas, you can easily customise and built your pages.
                  </p>
                </blockquote>
              </div>
            </div>  {% endcomment %}
        
            <div class="w-full md:w-6/12 px-4">
              <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 px-4">
                  <div class="relative flex flex-row mt-4">
                    <div class="px-4 py-5 flex-auto">
                      <div>
                        <img src="https://avatars.githubusercontent.com/u/80502090?v=4"
                                        class="items-center rounded-full">
                      </div>
                      <h6 class="text-xl mb-1 font-semibold text-center mt-5">Preawpan Thamapipol</h6>
                      <p class="mb-4 text-blueGray-500 text-center">
                        GitHub: @Tezigudo <br> preawpan.t@ku.th
                      </p>
                    </div>
                  </div>
                  <div class="relative flex flex-row min-w-0">
                    <div class="px-4 py-5 flex-auto">
                      <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                        <i class="fas fa-drafting-compass"></i>
                      </div>
                      <h6 class="text-xl mb-1 font-semibold">
                        Thanida Chaiwongnon
                      </h6>
                      <p class="mb-4 text-blueGray-500">
                        GitHub: @thanidacwn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-6/12 px-4">
                  <div class="relative flex flex-row min-w-0 mt-4">
                    <div class="px-4 py-5 flex-auto">
                      <div>
                        <img src="https://avatars.githubusercontent.com/u/93331101?v=4" 
                            class="items-center rounded-full">
                      </div>
                      <h6 class="text-xl mb-1 font-semibold text-center mt-5">Siravich</h6>
                      <p class="mb-4 text-blueGray-500 text-center">
                        GitHub: @koonwill <br> siravich.te@ku.th
                      </p>
                    </div>
                  </div>
                  <div class="relative flex flex-row min-w-0">
                    <div class="px-4 py-5 flex-auto">
                        <div>
                            <img src="https://avatars.githubusercontent.com/u/90590580?v=4" 
                                class="items-center rounded-full">
                          </div>
                      <h6 class="text-xl mb-1 font-semibold text-center mt-5">Thanadol</h6>
                      <p class="mb-4 text-blueGray-500 text-center">
                        GitHub: @ThanadolU
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="relative bg-blueGray-50 pt-8 pb-6 mt-2">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap items-center md:justify-between justify-center">
              <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                {% comment %} <div class="text-sm text-blueGray-500 font-semibold py-1">
                  Made with <a href="https://www.creative-tim.com/product/notus-js" class="text-blueGray-500 hover:text-gray-800" target="_blank">Notus JS</a> by <a href="https://www.creative-tim.com" class="text-blueGray-500 hover:text-blueGray-800" target="_blank"> Creative Tim</a>.
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </footer>
        </section>

    {% else %}
        <a href="/accounts/login/">Sign Up</a>
    {% endif %}

{% endblock body %}
