{% extends 'WePay/base_wepay.html' %}

{%block title%}
{{ block.super }}
Create Bills
{% endblock title%}

{% block body%}
<h3>Bill name: {{bill.name}}</h3>
<h3>Bill header: {{bill.header}}</h3>
<br><br>
<table>
    <thead>
      <tr>
        <th> No. </th><style>th{padding-left: 1%; text-align: center;}</style>
        <th> title </th>
        <th> Price </th>
        <th> User to assign </th>
      </tr>
    </thead>

    {% for topic in all_topic %}
    <tbody>
      <tr>
        <td>{{forloop.counter0|add:"1"}}</td><style>td{padding: 1%;}</style>
        <td>{{topic.title}}</td> <!-- this will link to detail bill page-->
        <td>{{topic.price}}</td>
        <td>{% for each_user in topic.user.all %}{{each_user}}, {% endfor %}</td> 
        
      </tr>
      </tbody>
      {% endfor %}
  </list>
</ul>
</table>




<h4>Add Topic</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
Topic Name: <input type="text" name="topic_name" id="topic_name" placeholder="Enter the topic name" required>
<br>
Topic Price: <input type="number" min="0" name="topic_price" id="topic_price" placeholder="Enter the topic price" required>
<br>


<label for="username">Enter user to assign:</label>
<select id="username" name="username"  multiple required>
{% for name in lst_user %}
<option value="{{name}}">{{name}}</option>
{% endfor %}
</select>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="Create"><input type="submit" value="Add topic"></div>
</form>
<br><br>
Total price: {{bill.total_price}}
<br> <br>

<form action="{% url 'bills:success' bill.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Create Bill">
</form>

{% endblock body%}
