{% extends 'WePay/base_wepay.html' %}
{% load tailwind_tags %}
{% tailwind_css %}

{%block title%}
    {{ block.super }}
    Add Topic
{% endblock title%}

{% block body%}

    <div class="mt-24 ml-32 justify-center flex flex-row">

        <div class="border-b border-gray-200 shadow">

            <table class="divide-y divide-[#171f99]">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-4 text-xl text-gray-500">No</th>
                        <th class="px-10 py-4 text-xl text-gray-500">Title</th>
                        <th class="px-6 py-4 text-xl text-gray-500">Price</th>
                        <th class="px-10 py-4 text-xl text-gray-500">User to assign</th>
                    </tr>
                </thead>


                {% for topic in all_topic %}
                    <tbody class="bg-white divide-y divide-[#171f99] text-center text-sm">
                        <tr class="whitespace-nowrap">
                            <td>{{forloop.counter0|add:"1"}}</td>
                            <td>{{topic.title}}</td>
                            <td>{{topic.price}}</td>
                            <td>{% for each_user in topic.user.all %}{{each_user}}, {% endfor %}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </list>
        </table>
    </div>


    <div class="ml-20 border-b border-gray-200 shadow">

        <h2 class="">Add Topic</h2>

        Name of Bill: {{bill.name}}
        <br><br>
        Total price: {{bill.total_price}}

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="topic-name" style="margin-top: 2%;"> Name: <br>
                <input type="text" name="topic_name" id="topic_name" placeholder="Enter the topic name" required style="width: 40%; font-weight: lighter;"></div>
            <div class="topic-price" style="margin-top: 2%;"> Price: <br>
                <input type="number" min="0" name="topic_price" id="topic_price" placeholder="Enter the topic price" required style="width: 40%; font-weight: lighter;"></div>

            <div class="add-user" style="margin-top: 2%;" for="username">Enter user to assign:<br>
                <select id="username" name="username"  multiple required style="width: 40%; height: 20%; color: navy;">
                    {% for name in lst_user %}
                        <option value="{{name}}">{{name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="add-topic" style="margin-top: 2%; margin-left: 30%;"><input type="submit" value="Add topic"></div>
        </div>
    </form>
    </div>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'bills:success' bill.id %}" method="post">
        {% csrf_token %}
        <button class="mt-24 ml-96 justify-center " type="submit" value="Create Bill"> Create Bill</button>
    </form>



{% endblock body%}