{% load static %}

<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title> Web Template </title>
	<link rel="stylesheet" href="{% static 'wepay/home.css' %}" type="text/css" media="all">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/hk-grotesk" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<nav class="navbar">
		<a href="/"><div class="logo-image"><img src="{% static 'wepay/webpages/logo_square.png' %}" style="width: 100%; height: 100%"></div></a>
		<!-- <a href="" class="nav-title" style="font-size:larger; font-family: HKGroteskRegular; font-weight: bolder; align-items: center;">Home</a> -->
		<a href="#" class="nav-item">
			<span class="nav-item-bar"></span>
			<span class="nav-item-bar"></span>
			<span class="nav-item-bar"></span>
		</a>
		<div class="nav-menu">
			<ul>
				<li><a href="#" style="font-size:medium ; font-family:  HKGroteskRegular; font-weight: bold; align-items: center;">Username</a></li>
				<li><a href='/accounts/logout' style="font-size: medium; font-family: HKGroteskRegular; align-items: center;">Log Out</a></li>
			</ul>
		</div>
	</nav>
</body>

</html>
