{% load static %}


<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title> Web Template </title>
	<link rel="stylesheet" href="{% static 'wepay/home.css' %}" type="text/css" media="all">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/hk-grotesk" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

	<!-- <section class="top_bar">
		<header class="wepay">
			<p> Wepay </p>
		</header>
	</section> -->

	<table class="styled-table" style="width: 50%; height: 30%;">
		<thead>
			<tr>
				<th> No. </th>
				<th> Bills Topics </th>
				<th> Prices </th>
				<th> Status </th>
				<th> Header of Bills </th>
			</tr>
		</thead>

		<tbody>
			<tr class="not-paid">
				<td> 1 </td>
				<td> Shabu </td>
				<td> 500.00 </td>
				<td> Not paid </td>
				<td> tha </td>
			</tr>
			<tr class="paid">
				<td> 2 </td>
				<td> Bingsu </td>
				<td> 70.00 </td>
				<td> Paid </td>
				<td> tha </td>
			</tr>
		</tbody>

	</table>

</body>

</html>
