{% extends 'WePay/base_wepay.html' %}

{%block title%}
{{ super }}
yours bill
{% endblock title%}
{% block body%}
<h1>Bills list</h1>
{{super}}
{% if my_bill %}
  <ul>
    {% for bill in my_bill %}
    <list>{{forloop.counter0|add:"1"}}
    {{ bill.name }}
</list><br>
    <p><a href="accounts/logout"><button tyoe="button">logout</button></a></p>
    {% endfor %}
  </ul>
{% else %}
  <p>No Bill are available.</p>
  <p><a href='/bill/create/'><button type="button">create</button></a></p>
  <p><a href="accounts/logout"><button tyoe="button">logout</button></a></p>
{% endif %}

{% if user.is_authenticated %}&nbsp;&nbsp;&nbsp;<label>{{"login as "}}</label><user>{{user.username}}</user> <a href='/accounts/logout'><button type="button">Log Out</button></a>
{% else %}<a href='/accounts/logout'><button type="button">Log in?</button></a>
{% endif %}
{% endblock body%}
{% block button %}{% endblock button %}


