{% extends 'WePay/base_wepay.html' %}

<header>
  <title>{%block title%}{% endblock title%}</title>
  <link rel="stylesheet" type="text/css" href="/wepay/bill.css">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</header>

{% block header %}
<link rel=¨stylesheet¨ type=¨text/css¨ href=¨wepay/bill.css¨>
{% endblock header %}

{% block body%}
{{ block.super }}
{% if user.is_authenticated %}
<h1>Bills list</h1>

{% if my_bill %}
<body>
  <ul>
    <table class="styled-table" style="width: 60%; height: 50%;">
      <thead>
        <tr>
          <th> No. </th>
          <th> Bills Topics </th>
          <th> Prices </th>
          <th> Status </th>
          <th> Verify </th>
        </tr>
      </thead>

      {% for bill in my_bill %}
      <tbody>
        <tr>
          <td>{{forloop.counter0|add:"1"}} </td>
          <td>{{ bill.name }}</td>
          <td>{{ bill.total_price}}</td>
          <td>not paid</td>
          <td>status</td>
        </tr>
        </tbody>
        {% endfor %}
    </list>
  </ul>
</body>


{% else %}
  <p>No Bill are available.</p>
  <p><a href='/bill/create/'><button type="button">create</button></a></p>
{% endif %}

<!-- <div class="add-logout">
  <p><a href="accounts/logout"><button tyoe="button">logout</button></a></p>
</div> -->
<div class="createbttn">
  <p><a href="create"><button type="button">create</button></a></p>
</div>

&nbsp;&nbsp;&nbsp;<label>{{"login as "}}</label><user>{{user.username}}</user> <a href='/accounts/logout'><button type="button">Log Out</button></a>
{% else %}
<a href='/accounts/logout'><button type="button">Log in?</button></a>
{% endif %}

{% endblock body%}


