{% extends 'WePay/base_wepay.html' %}
{% load static %}

{%block title%}
{{ block.super }}
Create Bills
{% endblock title%}
{% block header %}
<link rel=¨stylesheet¨ type=¨text/css¨ href=¨wepay/create_bils.css¨>

{% endblock header %}

{% block body%}

{{block.super}}

<script src="{% static 'wepay/create_bill.js' %}"></script>
{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="box" style="width: 100%; height: 100%; margin-left: 40%; margin-top: 50%; margin-bottom: 50%; margin-right: 60%; display: block;" >
        <div class="title" style="margin-top: 10%;">
            <h1>Create Bill</h1>
        </div>

            <div class="icon"><i class="fa fa-info" aria-hidden="true"></i></div>
        <table class="styled-table" style="width: 60%; height: 50%;">
            <thead>
                <tr>
                    <th>Header :{{header}}</th>
                    <th>Bill's title 
                        <input type="text" name="title" id="title" placeholder="Enter the title of the bill" required>
                    </th>
                </tr>
            </thead>

            {% comment %} <tbody>
                <tr>
                    <td>Title{{form_topic.title}}</td>
                    <td>Price{{form_topic.price}}</td>
                    <td>Assign{{form_topic.user}}</td>

                </tr>
            </tbody> {% endcomment %}
        </table>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="Create"><input type="submit" value="Create"></div>

    </ul>
</form>

    <p><a href='/accounts/logout'><button type="button">Log Out</button></a></p>
    <p><a href='/bill/'><button type="button">back</button></a></p>
    <!-- <p><a href='/create_bills/save'><button type="button">save</button></a></p> -->
    
    {% else %}
    <a href="/accounts/login/">Sign Up</a>
    {% endif %}

{% endblock body%}

