{% extends 'WePay/base_wepay.html' %}

{%block title%}
{{ block.super }}
Create Bills
{% endblock title%}

{% block body%}

{{ block.super }}
{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create Bills</h1>
    <div class="box">
        <div class="icon"><i class="fa fa-info" aria-hidden="true"></i></div>
    <table class="styled-table" style="width: 60%; height: 50%;">
        <thead>
            <tr>
                <th>{{form_bill}}</th>
                <th>{{form_topic}}</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    </div>

    <div>{{form_payment}}</div>
    <div class="Create"><input type="submit" value="Create"></div>

    </ul>
</form>

    <p><a href='/accounts/logout'><button type="button">Log Out</button></a></p>
    <p><a href='/bill/'><button type="button">back</button></a></p>
    <!-- <p><a href='/create_bills/save'><button type="button">save</button></a></p> -->
    
    {% else %}
    <a href="/accounts/login/">Sign Up</a>
    {% endif %}

{% endblock body%}

