{% extends 'WePay/base_wepay.html' %}
{% load static %}

{% block title %}
{{ block.super }}
Create Bills
{% endblock title %}


{% block body %}
{{ block.super }}

{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
<div class="first-body" style="margin-left: 3%; margin-top: 5%;">

    <div class="title" style="margin-top: 5%; color: #222A9B; font-weight: bold;"><h1>Create Bill: {{header}}</11></div>

    <div class="header" style="margin-left: 3%; margin-top: 3%; color: black; font-weight: bold; font-size: medium;" > Bill's title: <br>
        <input type="text" name="title" id="title" placeholder="Enter the title of the bill" required 
        style="width: 40%; font-weight: lighter;">
    </div>

</div>

<div class="second-body" style="margin-left: 4%; margin-top: 5%; color: #222a9b; font-size: medium;"> <h2> Initial Topic </h2>

    <div class="topic-name" style="margin-left: 3%; margin-top: 3%; font-weight: bold; color: black; font-size: medium;"> Name:<br>
        <input type="text" name="topic_name" id="topic_name" placeholder="Enter the topic name" required 
        style="width: 40%; font-weight: lighter;">
    </div>

    <div class="topic-price" style="margin-left: 3%; margin-top: 3%; font-weight: bold; color: black; font-size: medium;"> Price: <br> 
        <input type="number" min="0" name="topic_price" id="topic_price" placeholder="Enter the topic price" required 
        style="width: 40%; font-weight: lighter;">
    </div>

     <!--  BUG HEREEEEEEEEEEEEEEEEEEEE-->
    <div class="add-user" style="margin-left: 3%; margin-top: 3%; font-weight: bold; color: black; font-size: medium;"> Enter user to assign: <br>
        <select id="username" name="username"  multiple required 
        style="width: 40%; font-weight: lighter; height: 15%;">
            {% for name in lst_user %}
            <option value="{{name}}" style="color: indianred;">{{name}}</option>
            {% endfor %}
        </select>
        {% comment %} <input name="all_user" id="all_user" multiple="multiple" placeholder="username" list="username" required> {% endcomment %}
    </div>
    <!--  BUG HEREEEEEEEEEEEEEEEEEEEE-->
</div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="Create" style="margin-left: 40%; margin-top: 3%;"><input type="submit" value="Create Title"></div>
    {% comment %} </ul> {% endcomment %}
</form>
<br><br><br>

    {% else %}
    <a href="/accounts/login/">Sign Up</a>
{% endif %}

{% endblock body%}

