{% extends 'WePay/base_wepay.html' %}
{% block body %}
<h1>Bills Title: {{bill.name}}</h1>
<h1>Header: {{bill.header}} </h1>
<h1>TotalPrice: {{bill.total_price}}</h1>

<body>
    <table class="styled-table">

        <thead>
            <tr>
                <th>No.</th>
                <th>Bills Topic</th>
                <th>Prices</th>
                <th>Status</th>
            </tr>
        </thead>

        {% for topic in all_topic %}
        <tbody>
            <tr>
            <td>{{forloop.counter0|add:"1"}}</td><style>td{padding: 1%;}</style>
            <td>{{topic.title}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
{% endblock body %}