{% extends 'WePay/base_wepay.html' %}

{%block title%}
{{ block.super }}
Detail bill
{% endblock title%}

{% block body %}
<div class="box" style="margin-top: 5%; margin-left: 5%;">
<h2>Bills Title: {{bill.name}}</h2><style>h2{color: black;}</style>
<h2>TotalPrice: {{bill.total_price}}</h2>
    <div class="first-section" style="margin-top: 0%; background: transparent;">
    <table class="styled-table" style="width: 35%; height: 50%; text-align: center; margin-top: 3%;">
      <thead>
        <tr>
            <th>No.</th><style>th{padding-left: 1%; text-align: center;}</style>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
      </thead>
      {% for topic in all_topic %}
      <tbody><style>tbody{padding-block: 1%;}</style>
        <tr>
            <td>{{forloop.counter0|add:"1"}}</td><style>td{padding: 1%;}</style>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        {% endfor %}

    </list>
  </ul>
  </table>
  </div>
</div>
  {% endblock body%}