{% extends 'Wepay/base_wepay.html' %}
{% load tailwind_tags %}
{% tailwind_css %}

{% block title %}
    History
{% endblock title %}

{% block body %}

    <div class="mt-20 ml-80 flex flex-row">
        {% if bill_history %}
            <div class="">
                <h2 class="text-xl font-bold">Bill History</h2>
                <table class="divide-y divide-[#171f99] mt-3">
                    <thead class="bg-[#171f99]">
                        <tr>
                            <th class="px-6 py-4 text-xl text-white">No</th>
                            <th class="px-8 py-4 text-xl text-white">Title</th>
                            <th class="px-8 py-4 text-xl text-white">Price</th>
                            <th class="px-8 py-4 text-xl text-white">Pub date</th>
                        </tr>
                    </thead>

                    {% for bill in bill_history %}
                        <tbody class="bg-white divide-y divide-[#171f99] text-center text-sm">
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4">{{forloop.counter0|add:"1"}}</td>
                                <td class="px-8 py-4">{{bill.name}}</td> <!-- this will link to detail bill page-->
                                <td class="px-8 py-4">{{bill.total_price}}</td>
                                <td class="px-8 py-4">{{bill.pub_date}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </list>
            </ul>
            </table>
            </div>
        {% else %}
            <div class="text-red-700 justify-center font-bold ml-48">
                <h1>No bill history</h1>
            </div>
        {% endif %}

        {% if payment_history %}

            <div class="ml-10">
                <h2 class="text-xl font-bold">Payment History</h2>
                <table class="divide-y divide-[#171f99] mt-3">
                    <thead class="bg-[#171f99]">
                        <tr>
                            <th class="px-6 py-4 text-xl text-white"> No. </th>
                            <th class="px-8 py-4 text-xl text-white">Bill title </th>
                            <th class="px-8 py-4 text-xl text-white">Price </th>
                            <th class="px-8 py-4 text-xl text-white">Date </th>
                        </tr>
                    </thead>

                    {% for payment in payment_history %}
                        <tbody class="bg-white divide-y divide-[#171f99] text-center text-sm">
                            <tr>
                                <td class="px-6 py-4">{{forloop.counter0|add:"1"}}</td>
                                <td class="px-8 py-4">{{payment.bill.name}}</td> <!-- this will link to detail bill page-->
                                <td class="px-8 py-4">{{payment.price}}</td>
                                <td class="px-8 py-4">{{payment.date}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </list>
            </ul>
            </table>
            </div>

        {% else %}
            <div class="ml-96 mt-32 text-red-700">
                <h1>No payment history</h1>
            </div>
        {% endif %}
    </div>

{% endblock body %}
