{% extends 'WePay/base_wepay.html' %}
{% load static %}

{% block body %}
<h1 class="title" style="margin-top: 5%;" id="instruction">How to use omise -> Get chain id </h1>
<p class="explain" style="color: navy; font-size: medium;">Follow the instructions below to enable account chaining: </p>
<div class="info" style="margin-top: 4%; position: static; width: 100%; height: 100%;">
    <ol>
        <div><p class="first" style="font-size: large;">1. Sign up/ Sign in via Omise: <p style="color: firebrick; font-size: medium;"> To Sign up or Sign in via Omise, you must use the same email address that you used to login to WePay.</p> </p></div>

        <p class="second" style="font-size: large; margin-top: 2%;">2. Visit <a href="https://dashboard.omise.co/test/settings" style="color: navy;">Omise Dashboard &gt; Settings</a></p>
        <div><img width="941" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200815785-9519c25e-cb51-4b2b-b9c9-d55ba174df2c.png"></div>

        <p class="thirth" style="font-size: large; margin-top: 5%;">3. Click the checkbox enabling account chaining, and set the Return url to which the sub-merchant will be redirected after authorization.</p>
        <div><img width="842" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200816712-acf34a7e-99d6-494b-8f7f-4add20940a2b.png"></div>

        <p class="fourth" style="font-size: large; margin-top: 5%;">4. Click Update settings and provide the generated Chain url to your sub-merchants so they can authorize account chaining.<br>Sub-merchants must 
        visit the Chain Authorization URI, read the terms, and click Authorize.</p>
        <div><img width="967" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200820225-5efada82-36d7-431e-b7c0-2aa2075b9548.png"></div>

        <p class="fifth" style="font-size: large; margin-top: 5%;" >5. Once a sub-merchant has authorized the account chain, it should appear under the Chains menu item in your dashboard.</p>
        <div><img width="953" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200820397-dd48052c-bd36-4c1a-91d6-6e959dc1a6ed.png"></div>

        <p class="sixth" style="font-size: large; margin-top: 5%;">6. You can view a chain&#39;s details by clicking on it.</p>
        <div><img width="944" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200820948-7fdc1f9b-6e4b-47e7-8d46-8b7dff7e3254.png"></p></div>

        <p class="seventh" style="font-size: large; margin-top: 5%;">7. Go back to website, and put chain id on user profile page (top-right).</p>
        <div><img width="304" style="margin-top: 1%;" alt="image" src="https://user-images.githubusercontent.com/90590580/200827764-6d50afe2-b6e5-4107-a1b1-8ecf40299c34.png"></p></div>
    </ol>
</div>
{% endblock body %}
