{% extends 'Wepay/base.html' %}

{% block head_title %} Payments for {{payment.bill.name}}{% endblock head_title %}
{% block body %}
    <h1 class="mt-32 ml-96 justify-center font-bold text-3xl">Select Payment method</h1>
    <h3 class="mt-5 ml-96 font-bold text-[#171f99]">Pay to {{payment.bill.header}}</h3>
    <h4 class="mt-5 ml-96">Status: {{status}}</h4>

    {% comment %}
{{payment_type}}
    {% endcomment %}

    <div><p class="mt-5 ml-96" for="payment">Select Payment type:</p>
        <form action="" method="post">
            {% csrf_token %}
            <select class="mt-3 ml-96 w-80" id="payment_type" name="payment_type" required>
                {% for each_type in payment.PaymentChoice %}
                    {% if each_type != 'Cash' and cash_only %}
                        <option value="{{each_type}}" disabled>{{each_type}}</option>
                    {% else %}
                        <option value="{{each_type}}">{{each_type}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="ml-80"><button class="mt-5 ml-80 bg-[#171f99] hover:bg-green-500 text-white font-bold py-1 px-3 rounded flex justify-center" type="submit" value="Pay">Pay</button></div>
        </form>
    </div>


    {% if messages %}
        <div class="absolute bottom-10 right-10 font-bold text-red-500">
            {% for message in messages %}
                <li class="{{ message.tags }}" class="color:firebrick">
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {% if message.tags == 'warning' %}
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                            <script>
                                var msg = "{{ message }}";
                                swal("Warning", msg, "warning")
                            </script>
                        {% elif message.tags == 'success' %}
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                            <script>
                                var msg = "{{ message }}";
                                swal("Success", msg, "success")
                            </script>
                        {% else %}
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                            <script>
                                var msg = "{{ message }}";
                                swal("Error", msg, "error")
                            </script>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    {% endif %}

{% endblock body %}
