{% extends 'Wepay/base.html' %}

{% block body %}
    {% if my_payment %}
        <div class="mt-32 ml-56 justify-center">
            <h1 class="text-3xl font-bold ml-72 justify-center">You need to pay</h1>
            <h1 class="mt-3 ml-72 text-[#171f99] justify-center">Click pay to select payment</h1>

            <table class="divide-y divide-[#171f99] mt-5 ml-72 overflow-scroll">
                <thead class="bg-[#171f99] text-white text-center">
                    <tr>
                        <th class="px-6 py-4 text-xl text-white">No</th>
                        <th class="px-20 py-4 text-xl text-white">Bill topic</th>
                        <th class="px-6 py-4 text-xl text-white">Price</th>
                        <th class="px-8 py-4 text-xl text-white">Status</th>
                        <th class="px-12 py-4 text-xl text-white">Header</th>
                    </tr>
                </thead>

                {% for payment in my_payment %}
                    <tbody class="bg-white divide-y divide-gray-300 text-center">
                        <tr class="whitespace-nowrap">
                            <td class="px-6 py-4 text-sm text-gray-600">{{forloop.counter0|add:"1"}}</td>
                            <td class="px-12 py-4 text-sm text-black font-bold">{{payment.bill.name}}</td>
                            <td class="px-6 py-4 text-sm text-black">{{payment.price}}</td>
                            <td class="px-8 py-4 text-sm">
                                {% if payment.can_pay %}
                                    <a class="font-bold text-center text-black underline hover:text-green-500" href="{% url 'payments:detail' payment.id %}">Pay</a>
                                {% else %}
                                    <p class="text-center text-yellow-400">{{payment.status}} {% if payment.is_repayable %} <a href="{% url 'payments:reset' payment.id %}">repay?</a> {% endif %}</p>
                                {% endif %}
                            </td>
                            <td class="px-12 py-4 text-sm text-[#171f99]">{{payment.bill.header}} </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </list>
        </ul>
        </table>
        </div>
    {% else %}
        <h1 class="text-red-500 text-5xl font-bold grid h-screen place-items-center ml-56"> No Payment Avalible </h1>
    {% endif %}

{% endblock body%}
