{% extends 'Wepay/base.html' %}

{% block body %}

    <h1 class="text-3xl font-bold ml-96 mt-20"> Setting </h1>
    <div class="ml-96 mt-10">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                username:
                <input type='text' name='display name' id='name' value={{user.username}}>

                <div><button class="bg-[#171f99] hover:bg-green-500 text-white font-bold py-1 px-3 rounded flex justify-center ml-56 mt-5" type="submit" value="Update">Update</button></div>
            </form>
        </div>

        <div class="mt-10">
            <form action="{% url 'user-profile:fetch-key' %}" method-=-="post">
                {% csrf_token %}
                chain id:
                <div class="text-[#171f99] flex flex-row ">{{chain_id}}</div>
                <div class=""><button class="bg-[#171f99] hover:bg-green-500 text-white font-bold py-1 px-3 rounded flex justify-center text-sm ml-56 mt-5" type='submit', name='fetch-key', value='fetch'>fetch</button></div>
            </form>
        </div>


        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="text-red-500 font-bold text-sm absolute right-50 mt-10">
                        {% if 'safe' in message.tags %}
                            <script>
                                var msg = "{{ message|safe}}";
                                Swal.fire({
                                    title: 'No Key found!',
                                    html: msg,
                                    icon: 'info',
                                  })
                            </script>
                        {% else %}
                        <script>
                            var msg = "{{ message }}";
                        </script>
            
 
                            {% if message.tags == 'warning' %}
                                <script>
                                    Swal.fire({
                                        title: 'Warning',
                                        text: msg,
                                        icon: 'warning',
                                      })
                                </script>
                            {% elif message.tags == 'success' %}
                                <script>
                                    Swal.fire({
                                        title: 'Success',
                                        text: msg,
                                        icon: 'success',
                                      })
                                </script>
                            {% else %}
                                <script>
                                    Swal.fire({
                                        title: 'ERROR',
                                        text: msg,
                                        icon: 'error',
                                      })
                                </script>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
    </div>
    </div>

{% endblock body%}
